header {
    font-family: 'Times';
    background-color: #ffffff;
    border-bottom: 2px solid #cccccc;
    height: 50px;  
    width: 100%;
    font: 150% bold;
    align-content: center;
}
h2 {
    width: 960px;
    margin: 0 auto 0 auto;    
    }
    .alignleft {
        width: 194px; 
        padding: 12px;
        background-color: darkblue;
        color: rgb(107, 217, 253);
        text-align: center; 
        float: left;
        font-weight: bold;
    }
    .alignright { 
        float: right;
        margin-left: 10px;
        font-size: 60%;
        font-weight: bold;
        padding-top: 17px;
        margin-right: auto;
    }
    .borderleft {
        border-left: 1px solid #cccccc;
        padding-left: 19px;
    }
    .bottomborder {
        border-bottom: 2px solid #dddddd;
        padding-bottom: 15px;
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 20px;
    }
    a:link, a:visited, a:hover, a:active {
        text-decoration: none;
        color: #777777;
        margin: 10px; 
    }
h1 {
    font-size: 150%;
    font-weight: bold;
    color: darkblue;
    margin: 18px;
}
body {
    font-family: 'Helvetica Neue';
    color: #777777;
    margin: 0;
    padding: 0;
}
    .bodymargin {
        margin-left: 30px;
        margin-right: 30px;
        text-align: justify;
    }
    .linkmargin {
        margin: 0 20px 0 20px;
        text-decoration: underline;
    }    
    .box {
        margin-top: -25px;
        margin-left: auto;
        margin-right: auto;
        width: 956px;
        border: 2px solid #dddddd;
        background-color: #ffffff;
        box-shadow: 3px 3px #777777;
        font: #777777;
        overflow: auto;
    }
    .image {
        height: 158px;
        width: 211px;
        float: left;
        margin: 0 20px 10px 30px;
        border: 1px solid #ffffff;
        border-radius: 15px;
    }
    .linkborder {
        border: 1px solid #dddddd;
        margin-bottom: 15px;
    }
    .leftmargin {
        margin-left: 30px;
        font-family: 'Helvetica Neue';
    }
    .hangman {
        background: url(../images/Hangman.jpg) no-repeat;
        background-size: 270px 180px;
        background-position: center;
        border: 1px solid rgb(148, 148, 148);
        border-radius: 25px;
    }
    .crystals {
        background: url(../images/Compass.jpg) no-repeat;
        background-size: 270px 180px;
        background-position: center;
        border: 1px solid rgb(148, 148, 148);
        border-radius: 25px;
    }
    .trivia {
        background: url(../images/Trivia.png) no-repeat;
        background-size: 270px 180px;
        background-position: center;
        border: 1px solid rgb(148, 148, 148);
        border-radius: 25px;
    }
    .rutgers {
        background: url(../images/Rutgers.jpg) no-repeat;
        background-size: 270px 180px;
        background-position: center;
        border: 1px solid rgb(148, 148, 148);
        border-radius: 25px;
    }
    .rock {
        background: url(../images/RPS.jpg) no-repeat;
        background-size: 270px 180px;
        background-position: center;
        border: 1px solid rgb(148, 148, 148);
        border-radius: 25px;
    }
    .sabers {
        background: url(../images/Sabers.jpg) no-repeat;
        background-size: 270px 180px;
        background-position: center;
        border: 1px solid rgb(148, 148, 148);
        border-radius: 25px;
    }
    .concert {
        background: url(../images/Concert.jpg) no-repeat;
        background-size: 270px 180px;
        background-position: center;
        border: 1px solid rgb(148, 148, 148);
        border-radius: 25px;        
    }
    .senate {
        background: url(../images/USFlag.png) no-repeat;
        background-size: 270px 180px;
        background-position: center;
        border: 1px solid rgb(148, 148, 148);
        border-radius: 25px;
    }
    .portfolio {
        background: url(../images/background2.jpg) no-repeat;
        background-size: 100% 100%;
    }
    .float {
        float: left;
        width: 270px;
        height: 180px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 0 30px 30px;
    }
    .text {
        border: 2px solid darkblue;
        background-color: darkblue;
        color: rgb(107, 217, 253);
        width: 100%;
        text-align: center;
        margin-top: 75px;
        padding: 10px;
        font-size: 130%; 
    }
    .footer {
        border-top: 3px solid darkblue;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        padding-top: 20px;
        padding-bottom: 10px;
        background-color: #666666;
        color: #ffffff;
        text-align: center;
        font-size: 80%;
    }
form {
    margin-left: 30px;
    font-family: 'Helvetica Neue';
}
input[type=text] {
    border: 2px solid #dddddd;
    font: #777777;
    outline: none;
    width: 890px;
    height: 20px;
    margin: 5px 0 12px 0;
}
input[type=submit] {
    background-color: darkblue;
    border: none;
    color: lightblue;
    padding: 5px 20px;
}
textarea {
    border: 2px solid #dddddd;
    height: 5em;
    width: 888px;
    outline: none;
    margin-top: 5px;
}

@media (min-width: 641px) and (max-width: 991.98px) { 
    h2 {
        width: 100%;
        margin: 0px 40px 0px 20px;
    }
        .alignright {
            margin-right: 40px;
        }
        .box {
            width: 90%;
            margin: 0 5% 50px 5%;
        }
        .portfolio {
            background-size: 100% auto;
            background-repeat: repeat;
        }
    form {
        margin: 0 30px 0 30px;
    }
    input[type=text] {
        width: 100%;
        margin: 5px 0 12px 0;
    }
    textarea {
        width: 100%;
        margin-right: 10px;
    }
}
@media (max-width: 640.98px) {
    header {
        height: 90px;
        width: 100%;
    
    }
    h2 {
        width: 100%;
    }
        .alignleft {
            float: none;
            width: 100%;
        }
        .alignright { 
            float: none;
            padding-top: 12px;
            width: 100%;
            text-align: center;
            margin-right: 0;
            margin-left: 0;
        }
        .box {
            width: 93%;    
            margin: 0 2% 50px 3%;
        }
        .bottomborder {
            width: 90%;
            margin-left: 5%;
        }
        .image {
            width: 90%;
            height: auto;
            margin: 0 5% 20px 5%;
        }
        .bodymargin {
            margin: 0 5% 0 5%;
        }
        .hangman {
            background-size: 100% 100%;
        }
        .crystals {
            background-size: 100% 100%;
        }
        .trivia {
            background-size: 100% 100%;
        }
        .rutgers { 
            background-size: 100% 100%;
        }
        .rock {
            background-size: 100% 100%;
        }
        .sabers {
            background-size: 100% 100%;
        }
        .concert {
            background-size: 100% 100%;
        }
        .senate {
            background-size: 100% 100%;
        }
        .portfolio {
            background-repeat: repeat;
            background-size: 100% auto;
        }
        .float {
            float: none;
            width: 90%;
            height: 100%;
            margin: 0 5% 30px 5%;
        }
        .text {
            margin-top: 50%;
            margin-bottom: 30%;
        }
    form {
        margin: 0 5% 0 5%;
    }
    input[type=text] {
        width: 100%;
        margin: 5px 0 12px 0;
    }
    textarea {
        width: 100%;
    }